#AudioButton{
    background-color: rgb(21, 50, 85);
    display: flex;
    align-items: center;
    width: 50px;
    flex-direction: column;
    color: white;
    gap: 10px;
    font-family: "Roboto Condensed";
    padding: 10px;
    border-radius: 10px;
    
}
#AudioButton #play-pause {
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

